.App {
  text-align: center;
}

html {
  background-image: url('./images/coding.jpg')
}

#header {
  color: white;
  margin-top: 100px;
}

#header h1 {
  font-size: 5rem;
  font-weight: bold;
  -webkit-text-stroke: 0.25px black;
}



.center-scroll {
  background: white;
  width: 50%;
  margin: 0 auto;
}

