.App {
  text-align: center;
}

html {
  /* background-image: url('./images/coding.jpg'); */
  background: #333
}

#header {
  color: white;
  margin-top: 100px;
}

#header h1 {
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
}

#header p {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.header-hr {
  width: 25%;
  margin: 20px auto;
}

.center-scroll {
  background: white;
  width: 50%;
  margin: 0 auto;
}





